@import 'various.less';
@import 'glyphicon.less';

ul,li,p,a,body,html{
	padding: 0;
	margin: 0;
}
li{
  list-style: none;
}
body{
	font-family: 'Microsoft Yahei';
}
a,.base-font{
  color: @fontBase;
}
.font-gray{
	color: @fontGray;
}
a{
  text-decoration: none;
}
.no-border{
	border: 0px;
}
.pull-left{
	float: left;
}
.pull-right{
	float: right;
}
.text-left{
  text-align: left;
}
.text-right{
  text-align: right;
}
.inline-block{
  display: inline-block;
}
.text-center{
	text-align: center;
}
.clearfix:after {
   visibility: hidden;
   display: block;
   font-size: 0;
   content: " ";
   clear: both;
   height: 0;
 }
img{
	&.in{
		opacity: 0.5;
		transition: all 1s ease;
	}
	&.on{
		opacity: 1;
		transition: all 1s ease;
	}
}
