@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('//at.alicdn.com/t/font_f33k8r8khq4r6bt9.eot');
  src: url('//at.alicdn.com/t/font_f33k8r8khq4r6bt9.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_f33k8r8khq4r6bt9.woff') format('woff'),
  url('//at.alicdn.com/t/font_f33k8r8khq4r6bt9.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_f33k8r8khq4r6bt9.svg#iconfont') format('svg');
}

// Catchall baseclass
.glyphicon {
  position: relative;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Individual icons
.glyphicon-top                  { &:before { content: "\e6b0"; } }
.glyphicon-turn-left            { &:before { content: "\e62c"; } }
.glyphicon-turn-right           { &:before { content: "\e62a"; } }
.glyphicon-address              { &:before { content: "\e68e"; } }
.glyphicon-belt                 { &:before { content: "\e64a"; } }
.glyphicon-mine                 { &:before { content: "\e649"; } }
.glyphicon-home                 { &:before { content: "\e648"; } }
.glyphicon-cart                 { &:before { content: "\e647"; } }
.glyphicon-back                 { &:before { content: "\e605"; } }
.glyphicon-search               { &:before { content: "\e613"; } }
.glyphicon-go-jump              { &:before { content: "\e64b"; } }
.glyphicon-colorful             { &:before { content: "\e622"; } }
.glyphicon-clothing             { &:before { content: "\e64f"; } }
.glyphicon-config               { &:before { content: "\e652"; } }
.glyphicon-electronic           { &:before { content: "\e653"; } }
.glyphicon-materials            { &:before { content: "\e64d"; } }
.glyphicon-household            { &:before { content: "\e64c"; } }
.glyphicon-collect              { &:before { content: "\e663"; } }
.glyphicon-collect-in           { &:before { content: "\e656"; } }
.glyphicon-contact              { &:before { content: "\e62b"; } }
.glyphicon-shop                 { &:before { content: "\e602"; } }
.glyphicon-star                 { &:before { content: "\e88b"; } }
.glyphicon-menu                 { &:before { content: "\e6d1"; } }
.glyphicon-refresh              { &:before { content: "\e63b"; } }
